fpstimer==0.0.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.18.2
pygame==1.9.6
pymunk==5.6.0
scikit-fuzzy==0.4.2
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.11.1
tensorflow-estimator==2.2.0

